{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-2 border-end">
            <h4>Reset Password Completed!</h4>
            <div><iframe src="https://media.giphy.com/media/GRlEX375LPXaJX7ZtO/giphy.gif" width="200" height="200"
                    frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>

        </div>
    </div>
</div>
{% endblock main-content%}